/* Global styles */
body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

.red-divider {
    width: 100px;
    height: 2px;
    background-color: #D82C2E;
    margin: 0 auto;
}

.white-divider {
    width: 100px;
    height: 2px;
    background-color: #FFF;
    margin: 0 auto;
}

section .heading h2 {
    margin-top: 1rem;
    text-transform: uppercase;
}

ul,
ol {
    list-style: none;
}

/* SECTION ABOUT */
#about {
    padding-top: 100px;
    background-color: #D82C2E;
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .heading h1 {
    margin-top: 1rem;
    color: #FFF;
    text-transform: uppercase;
}

#about .heading h3 {
    color: #000;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    border: 1px solid #FFF;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.button1:hover {
    background-color: #FFF;
    color: #D82C2E;
    text-decoration: none;
}

/* SECTION SKILLS */
#skills {
    background-color: #FFF;
}

#skills .heading h2 {
    color: #D82C2E;
}

#skills .progress {
    height: 2.5rem;
    margin: 30px 20px;
    background-color: #DDD;
}

#skills .progress-bar {
    background-color: #D82C2E;
}

#skills .progress h5 {
    text-shadow: 1px 1px 1px #000;
}

/* SECTION EXPERIENCE */
#experience {
    background-color: #D82C2E;
}

#experience .heading h2 {
    color: #FFF;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #333333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li::after {
    clear: both;
}

.timeline > li::before,
.timeline > li::after {
    content: " ";
    display: table;
}

.timeline li .timeline-badge {
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #DDD;
    border-radius: 50%;
    color: #D82C2E;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}

.timeline-panel {
    position: relative;
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #D4D4D4;
    border-radius: 7px;
    padding: 20px 25px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background-color: #FFF;
}

.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}

.timeline-panel::after {
    content: " ";
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #FFF;
    border-right: 0 solid #FFF;
    border-bottom: 14px solid transparent;
}

.timeline-panel-container-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4 {
    color: #D82C2E;
    font-size: 16px;
}

/* SECTION EDUCATION */
#education {
    background-color: #FFF;
}

#education .heading h2 {
    color: #D82C2E;
}

.education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #DDD;
    border-radius: 10px;
    border: 2px solid #CCC;
    margin-bottom: 20px;
}

.education-block h5 {
    color: #888;
    font-size:  15px;
    margin-bottom: 15px;
}

.education-block i {
    font-size: 40px;
}

.education-block h3 {
    color: #D82C2E;
}

.education-block h4 {
    margin-bottom: 20px;
}

.education-block p {
    font-weight: bold;
}

.education-block .red-divider {
    margin-bottom: 20px;
}